# Backend Server Port
PORT=5000

# Supabase Main Database Configuration
DB_MAIN_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_MAIN_PORT=6543
DB_MAIN_USER=postgres.ucrvnxomoogsbcpbnldi
DB_MAIN_PASS=kpop-db-pass
DB_MAIN_NAME=postgres
DB_SSL=true

# Supabase Reports Database Configuration
DB_REPORTS_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_REPORTS_PORT=6543
DB_REPORTS_USER=postgres.ucrvnxomoogsbcpbnldi
DB_REPORTS_PASS=kpop-db-pass
DB_REPORTS_NAME=postgres
DB_SSL=true